.yn {
  margin-left: 15px;
}

.ynt {
  display: inline-block;
  margin-left: 10px;
  font-weight: 600;
}

.yni {
  max-width: 200px;
  margin-top: 10px;
  box-shadow: 10px 10px 22px -8px rgba(0,0,0,0.75);
  border-radius: 3px;
  border: 1px solid #e5e5e5;
}